.top-container{
    background-color:#E4F9F5;
    margin: 0px;
    padding: 100px;
}
.bottom-cloud{
position: absolute;
bottom:250px;
left:200px;

}
.top-cloud{
    position: absolute;
    top: 15px;
    right: 200px;
    padding: 50px;
    
}
.mountain{
    padding: 0px;
}
p{
    line-height: 2;
    
}
h1 {
    font-size: 90px;
    position:relative;
    text-align: center;
    right: 40px;
    padding: 20px;
    margin: 0px;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
    

}
h2{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    text-align: center;
    padding-bottom:10px;
   
}
h3{
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
    
    
}

.intro{ 
     
     position: absolute;
     right: 550px;
     top: 225px; 
     font-size: 2.5rem;
     color: #66BFBF;
     font-weight: normal;
    
} 
body{
   margin: 0px;
   text-align: center;
   font-family: 'Merriweather', serif;
   font-size: 20px;
   color:#40514E;
}


img{
    display: inline-block;
}
.bottom-container{
    color:#11999e;
    background-color:#66BFBF;
    padding:100px;
    
}
.middle-container{
    padding: 100px;
}
.skills{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.design-development{
    width: 25%;
    float: left;
    margin-right: 30px; 
}

.volunteering{
    width: 35%; 
    float: right;
    margin-left: 30px; 
}
.running{
    width: 25%; 
    float: left;
    margin-right: 30px;
}
.cooking{
    width: 35%; 
    float: right;
    margin-left: 30px;
}
.reading{
    width: 25%; 
    float: left;
    margin-right: 30px;
}
.meditation{
    width: 25%; 
    float: right;
    margin-left: 30px;
}
.fitness{
    width: 25%; 
    float: left;
    margin-right: 30px;
}
hr
{ 
    
    
    border:dotted gray 6px;
    border-bottom:none;
    margin:100px auto;
    width:5%;
    
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copywrite{
    padding:20px;
    color:white;
    font-size: 0.75rem;
    padding: 20px 0px;
  }
  a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
  }
  /* a:hover{
    color: #eaf6f6;
  } */
  .youtubelink{
    
    
    font-family: 'Merriweather', serif;
    font-size: 20px;
    text-decoration: none;
    
  }